<div class="pt-3 board-con">
  <div class="new_card mx-auto mt-5">
    <h3 class="card-heading">Editing Addcard</h3>
    <%= form_with scope: :addcard, url:update_addcard_path, method: :patch, local:true do |form| %>
      <div class="pb-1">
        <%= form.label :card_name, style: "display: block" %>
        <%= form.text_field :card_name , value:@addcard.card_name, required:true %>
      </div>

      <div>
        <%= form.submit "Update card" , class:"btn btn-primary" %>
        <%= link_to "X" , view_cards_path, class:"btn btn-primary" %>
      </div>
    <% end %>
    <div>
      <%= button_to "Delete Card" , delete_addcard_path, method: :delete,class:"btn btn-danger mt-2"%>
    </div>
  </div>
</div>