<div class="d-none page-scroll"><%= params[:page_scroll] %></div>
<div class="board-con addcard-bg">
  <span id="username" style="display: none;"><%= current_user.first_name %></span>
  <span id="group" style="display: none;"><%= @board.group %></span>
  <div style="margin-left:1rem" class="btn btn-primary hs" >
    <b>Host:</b>
    <span>
      <% @hosts.each do |host| %>
        | <span class="host"><%= host %></span> |
      <% end %>
    </span>
    <b style="margin-left:1rem">Scribe:</b>
    <span>
      <% @scribes.each do |scribe| %>
        | <span class="scribe"><%= scribe %></span> |
      <% end %>      
    </span>
  </div>
  <div class="new_card mx-auto w3-animate-zoom">
    <div class="d-flex align-flex-start justify-content-between">
      <div class="d-flex align-flex-start">
        <span><%= image_tag ("title.png"),style:"width:30px; height:25px;" %></span>
        <% if @card_name.card_title.downcase == "rocks" %>
          <div class="mx-3" style="margin-top:-8px;">
            <div class="card-heading"><%= ProjectWorkspace.find(params[:format]).folder_name %></div>
            <p>in list <u><%= @card_name.card_title %></u></p>
          </div>
        <% else %>
          <div class="mx-3" style="margin-top:-8px;">
            <div class="card-heading clickAddcard"><%= @addcard.card_name %></div>
            <span class="toggleAddcard">
              <%= form_with scope: :addcard, url:update_addcard_path, method: :patch, local: true do |form| %>
                <span class="pb-1">
                  <%= form.text_field :card_name,required: true, class:"input_border",value:@addcard.card_name %>
                </span>
                <span class="clickX btn btn-primary">X</span>
              <% end %>
            </span>
            <p>in list <u><%= @card_name.card_title %></u></p>
          </div>
        <% end %>
      </div>
        <span><%= link_to "X" , view_cards_path(), class:"addcards_X" %></span>
    </div>
    <div class="d-flex justify-content-between mt-2">
      <section class="w-100">
        <!-- Description/Attendance Section -->
        <% if @card_name.card_title == "Attendance" && !@addcard.card_name.downcase.include?("scribe") %>
          <div>
            <div class="d-flex align-items-center">
              <span><%= image_tag ("description.png"),style:"width:30px; height:25px;" %></span>
              <span style="font-weight:bold; margin-left: 18px; font-size: 20px;">Attendance</span>
              <span><%= button_to "Present",attendance_path({status:"present"}),method: :patch, class:"present" %></span>
              <span class="undo-attendance"><%= button_to "Undo attendance",attendance_path,method: :patch, class:"undo" %></span>
            </div>
            <div class="mt-3 desc-form">
              <%= form_with scope: :addcard, url:update_addcard_path, method: :patch, local:true do |form| %>
                <div class="pb-1">
                  <%= form.text_area :desc , value:@addcard.desc, size: "68x10", style:"margin-left:43px; padding:10px 15px;"%>
                </div>
          
                <div style="margin-left: 43px;">
                  <%= form.submit "Save" , class:"save-desc" %>
                  <span class="cancel-desc">Cancel</span>
                </div>
              <% end %>
            </div>
            <p class="mt-3 desc-area"><%= @desc_value %></p>
          </div>
        <!-- Rocks Section -->
        <% elsif @card_name.card_title.downcase == "rocks" %>
            <div style="margin-bottom: 5rem; width: 100%;">
              <!-- Head -->
              <h5><b>* Head *</b></h5>
              <hr style="margin: 2px 0;">
              <% @workspace_head.each do |email| %>
                <% if email == "lvcagadas@cem-inc.org.ph" %>
                  <div><b><%= User.find_by(email:email).first_name %></b></div>
                  <% ProjectWorkspace.find(params[:format]).rocks.order(finish: :asc).where(user_id:User.find_by(email:email).id).each_with_index do |rock, index| %>
                    <div class="d-flex">
                      <div style="width: 50%;">
                        <span><%= index + 1 %>. </span>
                        <% if current_user.admin == true || current_user.host == true || current_user.email == "jpbocatija@cem-inc.org.ph" %>
                          <span><%= link_to rock.task_name, view_allprojects_path(params[:format],User.find_by(email:email).id,{rock_id:rock.id}),target:"_blank",class:"rock-link" %></span>
                        <% else %>
                          <span><%= rock.task_name %></span>
                        <% end %>
                      </div>
                      <div style="width: 50%;">
                        <span style="font-size: 12px;">| <i><%= rock.start.strftime("%b %d,%Y") %> - <%= rock.finish.strftime("%b %d,%Y") %></i></span>
                        <span style="font-size: 12px; font-weight: bold;"> |
                        <%= (rock.start.to_date..rock.finish.to_date).count do |date|
                          date.workday?
                        end %> <span>days</span>
                        </span>
                        <span>| <b style="color: goldenrod;"><%= rock.complete %>%</b></span>
                        <span style="font-size: 12px;">| 
                          <% if rock.complete == 0 %>
                            <span style="background-color: silver; padding:0 5px; border-radius:3px;">not started</span>
                          <% elsif rock.complete == 100 %>
                            <span style="background-color: green;padding:0 5px; border-radius:3px;">complete</span>
                          <% else %>
                            <span style="background-color: yellow;padding:0 5px; border-radius:3px;">in progress</span>
                          <% end %>
                          <% if rock.complete != 100 %>
                            <% if rock.finish >= Date.today %>
                              <span style="vertical-align: middle;" role="button" title="on track" class="track"><%= image_tag ("blue_circle.png"),style:"width: 15px; margin-bottom:5px"%></span>  
                            <% else %>
                              <span role="button" title="off track" class="track"><%= image_tag ("red_circle.png"),style:"width: 16px;margin-bottom:5px"%></span>  
                            <% end %>                            
                          <% else %>                            
                          <% end %>                            
                        </span>
                      </div>
                    </div>
                  <% end %>
                  <% if ProjectWorkspace.find(params[:format]).rocks.where(user_id:User.find_by(email:email).id).empty? %>
                    <div> - - </div>
                  <% end %>                  
                <% end %>
              <% end %>
              <hr style="margin: 2px 0;">
              <!-- ISU Team -->
              <h5 class="mt-4"><b>* ISU *</b></h5>
              <hr style="margin: 2px 0;">
              <% @workspace_isu.each do |email| %>
                <% if ["jpbocatija@cem-inc.org.ph","rmina@cem-inc.org.ph","rcjamilano@cem-inc.org.ph"].include?(email) %>
                  <div><b><%= User.find_by(email:email).first_name %></b></div>
                  <% ProjectWorkspace.find(params[:format]).rocks.order(finish: :asc).where(user_id:User.find_by(email:email).id).each_with_index do |rock, index| %>
                    <div class="d-flex">
                      <div style="width: 50%;">
                        <span><%= index + 1 %>. </span>
                        <% if current_user.admin == true || current_user.host == true || current_user.email == "jpbocatija@cem-inc.org.ph" %>
                          <span><%= link_to rock.task_name, view_allprojects_path(params[:format],User.find_by(email:email).id,{rock_id:rock.id}),target:"_blank",class:"rock-link" %></span>
                        <% else %>
                          <span><%= rock.task_name %></span>
                        <% end %>                        
                      </div>
                      <div style="width: 50%;">
                        <span style="font-size: 12px;">| <i><%= rock.start.strftime("%b %d,%Y") %> - <%= rock.finish.strftime("%b %d,%Y") %></i></span>
                        <span style="font-size: 12px; font-weight: bold;"> |
                        <%= (rock.start.to_date..rock.finish.to_date).count do |date|
                          date.workday?
                        end %> <span>days</span>
                        </span>
                        <span>| <b style="color: goldenrod;"><%= rock.complete %>%</b></span>
                        <span style="font-size: 12px;">| 
                          <% if rock.complete == 0 %>
                            <span style="background-color: silver;padding:0 5px; border-radius:3px;">not started</span>
                          <% elsif rock.complete == 100 %>
                            <span style="background-color: green;padding:0 5px; border-radius:3px;">complete</span>
                          <% else %>
                            <span style="background-color: yellow;padding:0 5px; border-radius:3px;">in progress</span>
                          <% end %>
                          <% if rock.complete != 100 %>
                            <% if rock.finish >= Date.today %>
                              <span style="vertical-align: middle;" role="button" title="on track" class="track"><%= image_tag ("blue_circle.png"),style:"width: 15px; margin-bottom:5px"%></span>  
                            <% else %>
                              <span role="button" title="off track" class="track"><%= image_tag ("red_circle.png"),style:"width: 16px;margin-bottom:5px"%></span>  
                            <% end %>                            
                          <% else %>                            
                          <% end %>                          
                        </span>
                      </div>
                    </div>                    
                  <% end %>
                  <% if ProjectWorkspace.find(params[:format]).rocks.where(user_id:User.find_by(email:email).id).empty? %>
                    <div> - - </div>
                  <% end %>
                <% end %>
              <% end %>
              <hr style="margin: 2px 0;">
              <!-- NSSU Team -->
              <h5 class="mt-4"><b>* NSSU *</b></h5>
              <hr style="margin: 2px 0;">
              <% @workspace_nssu.each do |email| %>
                <% if ["gsibayan@cem-inc.org.ph","fviceral@cem-inc.org.ph"].include?(email) %>
                  <div><b><%= User.find_by(email:email).first_name %></b></div>
                  <% ProjectWorkspace.find(params[:format]).rocks.order(finish: :asc).where(user_id:User.find_by(email:email).id).each_with_index do |rock, index| %>
                    <div class="d-flex">
                      <div style="width: 50%;">
                        <span><%= index + 1 %>. </span>
                        <% if current_user.admin == true || current_user.host == true || current_user.email == "jpbocatija@cem-inc.org.ph" %>
                          <span><%= link_to rock.task_name, view_allprojects_path(params[:format],User.find_by(email:email).id,{rock_id:rock.id}),target:"_blank",class:"rock-link" %></span>
                        <% else %>
                          <span><%= rock.task_name %></span>
                        <% end %>
                      </div>
                      <div style="width: 50%;">
                        <span style="font-size: 12px;">| <i><%= rock.start.strftime("%b %d,%Y") %> - <%= rock.finish.strftime("%b %d,%Y") %></i></span>
                        <span style="font-size: 12px; font-weight: bold;"> |
                        <%= (rock.start.to_date..rock.finish.to_date).count do |date|
                          date.workday?
                        end %> <span>days</span>
                        </span>
                        <span>| <b style="color: goldenrod;"><%= rock.complete %>%</b></span>
                        <span style="font-size: 12px;">| 
                          <% if rock.complete == 0 %>
                            <span style="background-color: silver;padding:0 5px; border-radius:3px;">not started</span>
                          <% elsif rock.complete == 100 %>
                            <span style="background-color: green;padding:0 5px; border-radius:3px;">complete</span>
                          <% else %>
                            <span style="background-color: yellow;padding:0 5px; border-radius:3px;">in progress</span>
                          <% end %>
                          <% if rock.complete != 100 %>
                            <% if rock.finish >= Date.today %>
                              <span style="vertical-align: middle;" role="button" title="on track" class="track"><%= image_tag ("blue_circle.png"),style:"width: 15px; margin-bottom:5px"%></span>  
                            <% else %>
                              <span role="button" title="off track" class="track"><%= image_tag ("red_circle.png"),style:"width: 16px;margin-bottom:5px"%></span>  
                            <% end %>                            
                          <% else %>                            
                          <% end %>                            
                        </span>
                      </div>
                    </div>                    
                  <% end %>
                  <% if ProjectWorkspace.find(params[:format]).rocks.where(user_id:User.find_by(email:email).id).empty? %>
                    <div> - - </div>
                  <% end %>
                <% end %>
              <% end %>  
              <hr style="margin: 2px 0;"> 
              <!-- Other Members -->
              <% ProjectWorkspace.find(params[:format]).assigned.each do |email| %>
                <% if !["gsibayan@cem-inc.org.ph","fviceral@cem-inc.org.ph","jpbocatija@cem-inc.org.ph","rmina@cem-inc.org.ph","rcjamilano@cem-inc.org.ph","lvcagadas@cem-inc.org.ph"].include?(email) %>
                  <div><b><%= User.find_by(email:email).first_name %></b></div>
                  <% ProjectWorkspace.find(params[:format]).rocks.order(finish: :asc).where(user_id:User.find_by(email:email).id).each_with_index do |rock, index| %>
                    <div class="d-flex">
                      <div style="width: 50%;">
                        <span><%= index + 1 %>. </span>
                        <% if current_user.admin == true || current_user.host == true || current_user.email == "jpbocatija@cem-inc.org.ph" %>
                          <span><%= link_to rock.task_name, view_allprojects_path(params[:format],User.find_by(email:email).id,{rock_id:rock.id}),target:"_blank",class:"rock-link" %></span>
                        <% else %>
                          <span><%= rock.task_name %></span>
                        <% end %>                        
                      </div>
                      <div style="width: 50%;">
                        <span style="font-size: 12px;">| <i><%= rock.start.strftime("%b %d,%Y") %> - <%= rock.finish.strftime("%b %d,%Y") %></i></span>
                        <span style="font-size: 12px; font-weight: bold;"> |
                        <%= (rock.start.to_date..rock.finish.to_date).count do |date|
                          date.workday?
                        end %> <span>days</span>
                        </span>
                        <span>| <b style="color: goldenrod;"><%= rock.complete %>%</b></span>
                        <span style="font-size: 12px;">| 
                          <% if rock.complete == 0 %>
                            <span style="background-color: silver;padding:0 5px; border-radius:3px;">not started</span>
                          <% elsif rock.complete == 100 %>
                            <span style="background-color: green;padding:0 5px; border-radius:3px;">complete</span>
                          <% else %>
                            <span style="background-color: yellow;padding:0 5px; border-radius:3px;">in progress</span>
                          <% end %>
                          <% if rock.complete != 100 %>
                            <% if rock.finish >= Date.today %>
                              <span style="vertical-align: middle;" role="button" title="on track" class="track"><%= image_tag ("blue_circle.png"),style:"width: 15px; margin-bottom:5px"%></span>  
                            <% else %>
                              <span role="button" title="off track" class="track"><%= image_tag ("red_circle.png"),style:"width: 16px;margin-bottom:5px"%></span>  
                            <% end %>                            
                          <% else %>                            
                          <% end %>                           
                        </span>
                      </div>
                    </div>                    
                  <% end %>
                  <% if ProjectWorkspace.find(params[:format]).rocks.where(user_id:User.find_by(email:email).id).empty? %>
                    <div> - - </div>
                  <% end %>
                <% end %>
              <% end %> 
            </div>
        <% else %>
          <div>
            <div class="d-flex align-items-center">
              <span><%= image_tag ("description.png"),style:"width:30px; height:25px;" %></span>
              <span style="font-weight:bold; margin-left: 18px; font-size: 20px;">Description</span>
              <span class="edit-desc">Edit</span>
            </div>
            <div class="mt-3 desc-form">
              <%= form_with scope: :addcard, url:update_addcard_path, method: :patch, local:true do |form| %>
                <div class="pb-1">
                  <%= form.text_area :desc , value:@addcard.desc, size: "68x10", style:"margin-left:43px; padding:10px 15px;"%>
                </div>
          
                <div style="margin-left: 43px;">
                  <%= form.submit "Save" , class:"save-desc" %>
                  <span class="cancel-desc">Cancel</span>
                </div>
              <% end %>
            </div>
            <p class="mt-3 desc-area"><%= @desc_value %></p>
          </div>
        <% end %>
        <!-- Add comment section -->
        <div class="mt-3">
          <%= form_with scope: :addcomment, url:create_addcomment_path, method: :post, local: true do |form| %>
            <%= form.hidden_field :addcard_id, value: @addcard.id %>
            <%= form.hidden_field :first_name, value: current_user.first_name %>
            <%= form.hidden_field :last_name, value: current_user.last_name %>
              <div class="comment-header">
                <div class="circle">
                  <span class="circle-inner"><%= @name_initial %></span>
                </div>
                <span>
                  <%= form.text_area :comment,required: true,placeholder: "Write a comment...",class:"comment-field",oninput:"auto_grow(this)", id:"comment" %>
                </span>
                <span class="mx-2">
                  <%= form.submit "Save" , class:"btn btn-primary" %>
                </span>
              </div>
          <% end %>
        </div>
        
        <div>
          <% @comments.each do |comment| %>
            <div class="d-flex mt-3">
              <div class="circle">
                <span class="circle-inner"><%= comment.first_name.chr + comment.last_name.chr %></span>
              </div>
              <div style="margin-left: 10px;">
                <div>
                  <b><%= "#{comment.first_name} #{comment.last_name}" %></b>
                  <span><%= comment.updated_at.strftime("%b %d at %I:%M%p") %></span>
                </div>
                <div class="comments-list">
                  <%= comment.comment.to_s.gsub(/\n/, '<br/>').html_safe %>
                </div>
                <% if "#{comment.first_name} #{comment.last_name}" == "#{current_user.first_name} #{current_user.last_name}" %>
                  <div>
                    <span><%= link_to "Edit",edit_comment_path({comment_id:comment.id}) %> </span>
                    <span><%= link_to 'Delete', delete_addcomment_path({comment_id:comment.id}),
                      data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
                    </span>
                  </div>
                  <% else %>
                    <div>
                      <a href="#comment">Reply</a>
                    </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </section>
      <!-- Right Panel -->
      <% if !@card_name.card_title.downcase == "rocks" %>
        <div class="addcard-right"></div>
      <% end %>
    </div>
  </div>
</div>


<script>
  // auto adjust comment field height
  function auto_grow(element) {
    element.style.height = "5px";
    element.style.height = (element.scrollHeight)+"px";
  }

  $(document).ready(function(){
    // edit addcard name
    $(".toggleAddcard").css("display", "none")

    $(".clickAddcard").click(function(){
      $(this).hide();
      $(".toggleAddcard").show();
    });

    $(".clickX").click(function(){
      $(".toggleAddcard").hide();
      $(".clickAddcard").show();
    });
    //disable buttons for non host or scribe
    let hosts = $(".host").text();
    let scribes = $(".scribe").text();
    let username = $("#username").text();
    let group = $("#group").text();
    if (hosts.includes(username) || scribes.includes(username)){
    }else if(group == "true"){
      $(".clickAddcard").css("pointer-events", "none") // disable edit addcard for non host and scribe
      $(".undo-attendance").css("display", "none") // remove undo attendance for non host and scribe
    } else if (group == "false"){
      $(".hs").hide();
      $(".board-con").addClass("py-3")
    }

    //edit description
    $(".desc-form").css("display", "none")
    
    $(".edit-desc").click(function(){
      $(".desc-area").hide();
      $(".desc-form").show();
      $(".edit-desc").hide();
    });

    $(".cancel-desc").click(function(){
      $(".desc-form").hide();
      $(".desc-area").show();
      $(".edit-desc").show();
    });

    // trigger x addcard when addcard bg is click
    // $(".addcard-bg").click(function(){
    //   $(".addcards_X")[0].click()
    // });

    // Page Scroll
    $(".addcards_X").click(function(){
      let scroll = $(".page-scroll").text()
      let href = $(this).attr("href") + `?page_scroll=${scroll}`
      $(this).attr("href", href);
    });
    
  });

</script>