<div class="d-none page-scroll"><%= params[:page_scroll] %></div>
<div class="board-con addcard-bg">
  <span id="username" style="display: none;"><%= current_user.first_name %></span>
  <span id="group" style="display: none;"><%= @board.group %></span>
  <div style="margin-left:1rem" class="btn btn-primary hs" >
    <b>Host:</b>
    <span>
      <% @hosts.each do |host| %>
        | <span class="host"><%= host %></span> |
      <% end %>
    </span>
    <b style="margin-left:1rem">Scribe:</b>
    <span>
      <% @scribes.each do |scribe| %>
        | <span class="scribe"><%= scribe %></span> |
      <% end %>      
    </span>
  </div>
  <div class="new_card mx-auto w3-animate-zoom">
    <div class="d-flex align-flex-start justify-content-between">
      <div class="d-flex align-flex-start">
        <span><%= image_tag ("title.png"),style:"width:30px; height:25px;" %></span>
        <% if @card_name.card_title.downcase == "rocks" %>
          <div class="mx-3" style="margin-top:-8px;">
            <div class="card-heading"><%= ProjectWorkspace.find(params[:format]).folder_name %></div>
            <p>in list <u><%= @card_name.card_title %></u></p>
          </div>
        <% else %>
          <div class="mx-3" style="margin-top:-8px;">
            <div class="card-heading clickAddcard"><%= @addcard.card_name %></div>
            <span class="toggleAddcard">
              <%= form_with scope: :addcard, url:update_addcard_path, method: :patch, local: true do |form| %>
                <span class="pb-1">
                  <%= form.text_field :card_name,required: true, class:"input_border",value:@addcard.card_name %>
                </span>
                <span class="clickX btn btn-primary">X</span>
              <% end %>
            </span>
            <p>in list <u><%= @card_name.card_title %></u></p>
          </div>
        <% end %>
      </div>
        <span><%= link_to "X" , view_cards_path(), class:"addcards_X" %></span>
    </div>
    <div class="d-flex justify-content-between mt-2">
      <section class="w-100">
        <!-- Description/Attendance Section -->
        <% if @card_name.card_title == "Attendance" && !@addcard.card_name.downcase.include?("scribe") %>
          <div>
            <div class="d-flex align-items-center">
              <span><%= image_tag ("description.png"),style:"width:30px; height:25px;" %></span>
              <span style="font-weight:bold; margin-left: 18px; font-size: 20px;">Attendance</span>
              <span><%= button_to "Present",attendance_path({status:"present"}),method: :patch, class:"present" %></span>
              <span class="undo-attendance"><%= button_to "Undo attendance",attendance_path,method: :patch, class:"undo" %></span>
            </div>
            <div class="mt-3 desc-area">
              <div><b><%= Date.current.strftime("%B %d, %Y") %></b></div>
              <p><%= @desc_value %></p>
            </div>
          </div>
        <!-- Rocks Section -->
        <% elsif @card_name.card_title.downcase == "rocks" %>
            <div style="margin-bottom: 5rem; width: 100%;">
              <!-- Head -->
              <h5><b>* Head *</b></h5>
              <hr style="margin: 2px 0;">
              <% @workspace_head.each do |email| %>
                <% if email == "lvcagadas@cem-inc.org.ph" %>
                  <div><b><%= User.find_by(email:email).first_name %></b></div>
                  <% ProjectWorkspace.find(params[:format]).rocks.order(finish: :asc).where(user_id:User.find_by(email:email).id).each_with_index do |rock, index| %>
                    <div class="d-flex">
                      <div style="width: 50%;">
                        <span><%= index + 1 %>. </span>
                        <% if current_user.admin == true || current_user.host == true || current_user.email == "jpbocatija@cem-inc.org.ph" %>
                          <span><%= link_to rock.task_name, view_allprojects_path(params[:format],User.find_by(email:email).id,{rock_id:rock.id}),target:"_blank",class:"rock-link" %></span>
                        <% else %>
                          <span><%= rock.task_name %></span>
                        <% end %>
                      </div>
                      <div style="width: 50%;">
                        <span style="font-size: 12px;">| <i><%= rock.start.strftime("%b %d,%Y") %> - <%= rock.finish.strftime("%b %d,%Y") %></i></span>
                        <span style="font-size: 12px; font-weight: bold;"> |
                        <%= (rock.start.to_date..rock.finish.to_date).count do |date|
                          date.workday?
                        end %> <span>days</span>
                        </span>
                        <span>| <b style="color: goldenrod;"><%= rock.complete %>%</b></span>
                        <span style="font-size: 12px;">| 
                          <% if rock.complete == 0 %>
                            <span style="background-color: silver; padding:0 5px; border-radius:3px;">not started</span>
                          <% elsif rock.complete == 100 %>
                            <span style="background-color: green;padding:0 5px; border-radius:3px;">complete</span>
                          <% else %>
                            <span style="background-color: yellow;padding:0 5px; border-radius:3px;">in progress</span>
                          <% end %>
                          <% if rock.complete != 100 %>
                            <% if rock.finish >= Date.today %>
                              <span style="vertical-align: middle;" role="button" title="on track" class="track"><%= image_tag ("blue_circle.png"),style:"width: 15px; margin-bottom:5px"%></span>  
                            <% else %>
                              <span role="button" title="off track" class="track"><%= image_tag ("red_circle.png"),style:"width: 16px;margin-bottom:5px"%></span>  
                            <% end %>                            
                          <% else %>                            
                          <% end %>                            
                        </span>
                      </div>
                    </div>
                  <% end %>
                  <% if ProjectWorkspace.find(params[:format]).rocks.where(user_id:User.find_by(email:email).id).empty? %>
                    <div> - - </div>
                  <% end %>                  
                <% end %>
              <% end %>
              <hr style="margin: 2px 0;">
              <!-- ISU Team -->
              <h5 class="mt-4"><b>* ISU *</b></h5>
              <hr style="margin: 2px 0;">
              <% @workspace_isu.each do |email| %>
                <% if ["jpbocatija@cem-inc.org.ph","rmina@cem-inc.org.ph","rcjamilano@cem-inc.org.ph"].include?(email) %>
                  <div><b><%= User.find_by(email:email).first_name %></b></div>
                  <% ProjectWorkspace.find(params[:format]).rocks.order(finish: :asc).where(user_id:User.find_by(email:email).id).each_with_index do |rock, index| %>
                    <div class="d-flex">
                      <div style="width: 50%;">
                        <span><%= index + 1 %>. </span>
                        <% if current_user.admin == true || current_user.host == true || current_user.email == "jpbocatija@cem-inc.org.ph" %>
                          <span><%= link_to rock.task_name, view_allprojects_path(params[:format],User.find_by(email:email).id,{rock_id:rock.id}),target:"_blank",class:"rock-link" %></span>
                        <% else %>
                          <span><%= rock.task_name %></span>
                        <% end %>                        
                      </div>
                      <div style="width: 50%;">
                        <span style="font-size: 12px;">| <i><%= rock.start.strftime("%b %d,%Y") %> - <%= rock.finish.strftime("%b %d,%Y") %></i></span>
                        <span style="font-size: 12px; font-weight: bold;"> |
                        <%= (rock.start.to_date..rock.finish.to_date).count do |date|
                          date.workday?
                        end %> <span>days</span>
                        </span>
                        <span>| <b style="color: goldenrod;"><%= rock.complete %>%</b></span>
                        <span style="font-size: 12px;">| 
                          <% if rock.complete == 0 %>
                            <span style="background-color: silver;padding:0 5px; border-radius:3px;">not started</span>
                          <% elsif rock.complete == 100 %>
                            <span style="background-color: green;padding:0 5px; border-radius:3px;">complete</span>
                          <% else %>
                            <span style="background-color: yellow;padding:0 5px; border-radius:3px;">in progress</span>
                          <% end %>
                          <% if rock.complete != 100 %>
                            <% if rock.finish >= Date.today %>
                              <span style="vertical-align: middle;" role="button" title="on track" class="track"><%= image_tag ("blue_circle.png"),style:"width: 15px; margin-bottom:5px"%></span>  
                            <% else %>
                              <span role="button" title="off track" class="track"><%= image_tag ("red_circle.png"),style:"width: 16px;margin-bottom:5px"%></span>  
                            <% end %>                            
                          <% else %>                            
                          <% end %>                          
                        </span>
                      </div>
                    </div>                    
                  <% end %>
                  <% if ProjectWorkspace.find(params[:format]).rocks.where(user_id:User.find_by(email:email).id).empty? %>
                    <div> - - </div>
                  <% end %>
                <% end %>
              <% end %>
              <hr style="margin: 2px 0;">
              <!-- NSSU Team -->
              <h5 class="mt-4"><b>* NSSU *</b></h5>
              <hr style="margin: 2px 0;">
              <% @workspace_nssu.each do |email| %>
                <% if ["gsibayan@cem-inc.org.ph","fviceral@cem-inc.org.ph","jcaniedo@cem-inc.org.ph"].include?(email) %>
                  <div><b><%= User.find_by(email:email).first_name %></b></div>
                  <% ProjectWorkspace.find(params[:format]).rocks.order(finish: :asc).where(user_id:User.find_by(email:email).id).each_with_index do |rock, index| %>
                    <div class="d-flex">
                      <div style="width: 50%;">
                        <span><%= index + 1 %>. </span>
                        <% if current_user.admin == true || current_user.host == true || current_user.email == "jpbocatija@cem-inc.org.ph" %>
                          <span><%= link_to rock.task_name, view_allprojects_path(params[:format],User.find_by(email:email).id,{rock_id:rock.id}),target:"_blank",class:"rock-link" %></span>
                        <% else %>
                          <span><%= rock.task_name %></span>
                        <% end %>
                      </div>
                      <div style="width: 50%;">
                        <span style="font-size: 12px;">| <i><%= rock.start.strftime("%b %d,%Y") %> - <%= rock.finish.strftime("%b %d,%Y") %></i></span>
                        <span style="font-size: 12px; font-weight: bold;"> |
                        <%= (rock.start.to_date..rock.finish.to_date).count do |date|
                          date.workday?
                        end %> <span>days</span>
                        </span>
                        <span>| <b style="color: goldenrod;"><%= rock.complete %>%</b></span>
                        <span style="font-size: 12px;">| 
                          <% if rock.complete == 0 %>
                            <span style="background-color: silver;padding:0 5px; border-radius:3px;">not started</span>
                          <% elsif rock.complete == 100 %>
                            <span style="background-color: green;padding:0 5px; border-radius:3px;">complete</span>
                          <% else %>
                            <span style="background-color: yellow;padding:0 5px; border-radius:3px;">in progress</span>
                          <% end %>
                          <% if rock.complete != 100 %>
                            <% if rock.finish >= Date.today %>
                              <span style="vertical-align: middle;" role="button" title="on track" class="track"><%= image_tag ("blue_circle.png"),style:"width: 15px; margin-bottom:5px"%></span>  
                            <% else %>
                              <span role="button" title="off track" class="track"><%= image_tag ("red_circle.png"),style:"width: 16px;margin-bottom:5px"%></span>  
                            <% end %>                            
                          <% else %>                            
                          <% end %>                            
                        </span>
                      </div>
                    </div>                    
                  <% end %>
                  <% if ProjectWorkspace.find(params[:format]).rocks.where(user_id:User.find_by(email:email).id).empty? %>
                    <div> - - </div>
                  <% end %>
                <% end %>
              <% end %>  
              <hr style="margin: 2px 0;"> 
              <!-- Other Members -->
              <% ProjectWorkspace.find(params[:format]).assigned.each do |email| %>
                <% if !["gsibayan@cem-inc.org.ph","fviceral@cem-inc.org.ph","jpbocatija@cem-inc.org.ph","rmina@cem-inc.org.ph","rcjamilano@cem-inc.org.ph","lvcagadas@cem-inc.org.ph","jcaniedo@cem-inc.org.ph"].include?(email) %>
                  <div><b><%= User.find_by(email:email).first_name %></b></div>
                  <% ProjectWorkspace.find(params[:format]).rocks.order(finish: :asc).where(user_id:User.find_by(email:email).id).each_with_index do |rock, index| %>
                    <div class="d-flex">
                      <div style="width: 50%;">
                        <span><%= index + 1 %>. </span>
                        <% if current_user.admin == true || current_user.host == true || current_user.email == "jpbocatija@cem-inc.org.ph" %>
                          <span><%= link_to rock.task_name, view_allprojects_path(params[:format],User.find_by(email:email).id,{rock_id:rock.id}),target:"_blank",class:"rock-link" %></span>
                        <% else %>
                          <span><%= rock.task_name %></span>
                        <% end %>                        
                      </div>
                      <div style="width: 50%;">
                        <span style="font-size: 12px;">| <i><%= rock.start.strftime("%b %d,%Y") %> - <%= rock.finish.strftime("%b %d,%Y") %></i></span>
                        <span style="font-size: 12px; font-weight: bold;"> |
                        <%= (rock.start.to_date..rock.finish.to_date).count do |date|
                          date.workday?
                        end %> <span>days</span>
                        </span>
                        <span>| <b style="color: goldenrod;"><%= rock.complete %>%</b></span>
                        <span style="font-size: 12px;">| 
                          <% if rock.complete == 0 %>
                            <span style="background-color: silver;padding:0 5px; border-radius:3px;">not started</span>
                          <% elsif rock.complete == 100 %>
                            <span style="background-color: green;padding:0 5px; border-radius:3px;">complete</span>
                          <% else %>
                            <span style="background-color: yellow;padding:0 5px; border-radius:3px;">in progress</span>
                          <% end %>
                          <% if rock.complete != 100 %>
                            <% if rock.finish >= Date.today %>
                              <span style="vertical-align: middle;" role="button" title="on track" class="track"><%= image_tag ("blue_circle.png"),style:"width: 15px; margin-bottom:5px"%></span>  
                            <% else %>
                              <span role="button" title="off track" class="track"><%= image_tag ("red_circle.png"),style:"width: 16px;margin-bottom:5px"%></span>  
                            <% end %>                            
                          <% else %>                            
                          <% end %>                           
                        </span>
                      </div>
                    </div>                    
                  <% end %>
                  <% if ProjectWorkspace.find(params[:format]).rocks.where(user_id:User.find_by(email:email).id).empty? %>
                    <div> - - </div>
                  <% end %>
                <% end %>
              <% end %> 
            </div>
        <!-- Todo Section -->
        <% elsif @card_name.card_title.downcase.include?("todo") %>
          <div>
            <div style="margin-bottom: 25px;">
              <%= form_with scope: :todo, url:create_todo_path, method: :post,id:"todo-form", local: true do |form| %>
                <%= form.hidden_field :addcard_id, value: @addcard.id %>
                <%= form.hidden_field :todo_id, id:"todo-id" %>
                <div class="comment-header">
                  <span>
                    <%= form.text_field :task,required: true,placeholder: "Write your task here...",class:"comment-field", id:"input-todo" %>
                  </span>
                  <span class="mx-2 d-none">
                    <%= form.submit "Save" , class:"btn btn-primary" %>
                  </span>
                </div>
              <% end %>
            </div>

            <div class="d-none">
              <%= form_with scope: :todo, url:update_checkbox_path, method: :patch, local: true do |form| %>
                <%= form.hidden_field :addcard_id, value: @addcard.id %>
                <%= form.hidden_field :checkbox_id, id:"checkbox-id" %>
                <%= form.hidden_field :checkbox_done, id:"checkbox-done" %>
                <%= form.submit "Save" , id:"checkbox-submit" %>
              <% end %>
            </div>

            <% User.all.each do |user| %>
              <p class="m-0"><b>- <%= user.first_name %></b></p>
              <hr style="margin: 2px 0;">
              <% @todo_list.each do |list| %>
                <% if user.id == list.user_id  %>
                  <div class="d-flex justify-content-between">
                    <div class="task-section d-flex align-items-start">
                      <input type="checkbox" id="myCheckbox<%= list.id %>" class="check-boxes <%= list.id %> mx-2" style="margin-top:6px;" role="button" <%= current_user.id == list.user_id ? '':'disabled' %> <%= list.done ? 'checked':'' %>>
                      <label class="<%= list.done ? 'text-decoration-line-through' : '' %> task-text" ><%= list.task %></label> 
                    </div>
                    <% if user.id == current_user.id  %>
                      <div class="todo-action d-flex">
                        <span role="button" class="mx-2 edit-todo" id="<%= list.id %>"><%= image_tag ("edit.png"),style:"width:15px" %></span>
                        <%= link_to delete_todo_path({todo_id:list.id}), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
                            <span><%= image_tag ("delete.png"),style:"width:15px" %></span>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
              <hr style="margin: 2px 0;">
              <div class="my-4"></div>
            
            <% end %>

            <br><br><br><br>
          </div>
        <!-- IDS Section -->
        <% elsif @card_name.card_title.downcase.include?("ids") %>
          <div>
            <div style="margin-bottom: 25px;">
              <%= form_with scope: :identify, url:create_identify_path, method: :post,id:"identify-form", local: true do |form| %>
                <%= form.hidden_field :addcard_id, value: @addcard.id %>
                <%= form.hidden_field :identify_id, id:"identify-id" %>
                <div class="comment-header">
                  <span>
                    <%= form.text_field :task,required: true,placeholder: "Write your IDS here...",class:"comment-field", id:"input-identify" %>
                  </span>
                  <span class="mx-2 d-none">
                    <%= form.submit "Save" , class:"btn btn-primary" %>
                  </span>
                </div>
              <% end %>
            </div>

            <div class="d-none">
              <%= form_with scope: :identify, url:update_identify_checkbox_path, method: :patch, local: true do |form| %>
                <%= form.hidden_field :addcard_id, value: @addcard.id %>
                <%= form.hidden_field :checkbox_id, id:"identify-checkbox-id" %>
                <%= form.hidden_field :checkbox_done, id:"identify-checkbox-done" %>
                <%= form.submit "Save" , id:"identify-checkbox-submit" %>
              <% end %>
            </div>

            <% User.all.each do |user| %>
              <p class="m-0"><b>- <%= user.first_name %></b></p>
              <hr style="margin: 2px 0;">
              <% @identify_list.each do |list| %>
                <% if user.id == list.user_id  %>
                  <div class="d-flex justify-content-between ids-list">
                    <div class="task-section d-flex align-items-start">
                      <input type="checkbox" class="identify-check-boxes <%= list.id %> mx-2" style="margin-top:6px;" role="button" <%= current_user.id == list.user_id ? '':'disabled' %> <%= list.done ? 'checked':'' %>>
                      <label class="<%= list.done ? 'text-decoration-line-through' : '' %> solution-text" role="button"><%= list.task %></label> 
                    </div>
                    <% if user.id == current_user.id  %>
                      <div class="identify-action d-flex">
                        <span role="button" class="mx-2 edit-identify" id="<%= list.id %>"><%= image_tag ("edit.png"),style:"width:15px" %></span>
                        <%= link_to delete_identify_path({identify_id:list.id}), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
                            <span><%= image_tag ("delete.png"),style:"width:15px" %></span>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <div id="solution-textarea" class="d-none">
                    <%= form_with scope: :identify, url:update_identify_path, method: :patch, local:true do |form| %>
                      <%= form.hidden_field :identify_id, value:list.id %>
                      <div class="d-flex">
                        <div class="pb-1">
                          <%= form.text_area :solution,value:list.solution, size: "75x3", style:"padding:5px 10px; background-color:#FFFFE0;"%>
                        </div>
                        <div class="mx-2">
                          <div><%= form.submit "Save" , class:"save-desc" %></div>
                          <div class="btn btn-danger mt-2 hide-solution">hide</div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
              <hr style="margin: 2px 0;">
              <div class="my-4"></div>
            <% end %>
            
            <br><br><br><br>
          </div>   
        <!-- MoM Section -->
        <% elsif @card_name.card_title.downcase.include?("mom") %>
          <% if current_user.scribe == true  %> 
            <% if notice  %>
              <div class="alert alert-success text-center"><b><%= notice %></b></div>
            <% end %>
            <%= form_with scope: :addcard, url:generate_mom_path, method: :post, local:true do |form| %>
              <div>
                <%= form.submit "Generate MoM" , class:"btn btn-success" %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <div>
            <div class="d-flex align-items-center">
              <span><%= image_tag ("description.png"),style:"width:30px; height:25px;" %></span>
              <span style="font-weight:bold; margin-left: 18px; font-size: 20px;">Description</span>
              <span class="edit-desc">Edit</span>
            </div>
            <div class="mt-3 desc-form">
              <%= form_with scope: :addcard, url:update_addcard_path, method: :patch, local:true do |form| %>
                <div class="pb-1">
                  <%= form.text_area :desc , value:@addcard.desc, size: "68x10", style:"margin-left:43px; padding:10px 15px;"%>
                </div>
          
                <div style="margin-left: 43px;">
                  <%= form.submit "Save" , class:"save-desc" %>
                  <span class="cancel-desc">Cancel</span>
                </div>
              <% end %>
            </div>
            <div  class="mt-3 desc-area">
              <div><b><%= Date.current.strftime("%B %d, %Y") %></b></div>
              <p><%= @desc_value %></p>
            </div>
          </div>
        <% end %>
        <!-- Add comment section -->
        <div class="mt-3">
          <%= form_with scope: :addcomment, url:create_addcomment_path, method: :post, local: true do |form| %>
            <%= form.hidden_field :addcard_id, value: @addcard.id %>
            <%= form.hidden_field :first_name, value: current_user.first_name %>
            <%= form.hidden_field :last_name, value: current_user.last_name %>
              <div class="comment-header">
                <div class="circle">
                  <span class="circle-inner"><%= @name_initial %></span>
                </div>
                <span>
                  <%= form.text_area :comment,required: true,placeholder: "Write a comment...",class:"comment-field",oninput:"auto_grow(this)", id:"comment" %>
                </span>
                <span class="mx-2">
                  <%= form.submit "Save" , class:"btn btn-primary" %>
                </span>
              </div>
          <% end %>
        </div>
        
        <div>
          <% @comments.each do |comment| %>
            <div class="d-flex mt-3">
              <div class="circle">
                <span class="circle-inner"><%= comment.first_name.chr + comment.last_name.chr %></span>
              </div>
              <div style="margin-left: 10px;">
                <div>
                  <b><%= "#{comment.first_name} #{comment.last_name}" %></b>
                  <span><%= comment.updated_at.strftime("%b %d at %I:%M%p") %></span>
                </div>
                <div class="comments-list">
                  <%= comment.comment.to_s.gsub(/\n/, '<br/>').html_safe %>
                </div>
                <% if "#{comment.first_name} #{comment.last_name}" == "#{current_user.first_name} #{current_user.last_name}" %>
                  <div>
                    <span><%= link_to "Edit",edit_comment_path({comment_id:comment.id}) %> </span>
                    <span><%= link_to 'Delete', delete_addcomment_path({comment_id:comment.id}),
                      data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
                    </span>
                  </div>
                  <% else %>
                    <div>
                      <a href="#comment">Reply</a>
                    </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </section>
      <!-- Right Panel -->
      <% if !@card_name.card_title.downcase == "rocks" %>
        <div class="addcard-right"></div>
      <% end %>
    </div>
  </div>
</div>


<script>
  // auto adjust comment field height
  function auto_grow(element) {
    element.style.height = "5px";
    element.style.height = (element.scrollHeight)+"px";
  }

  $(document).ready(function(){
    // edit addcard name
    $(".toggleAddcard").css("display", "none")

    $(".clickAddcard").click(function(){
      $(this).hide();
      $(".toggleAddcard").show();
    });

    $(".clickX").click(function(){
      $(".toggleAddcard").hide();
      $(".clickAddcard").show();
    });
    //disable buttons for non host or scribe
    let hosts = $(".host").text();
    let scribes = $(".scribe").text();
    let username = $("#username").text();
    let group = $("#group").text();
    if (hosts.includes(username) || scribes.includes(username)){
    }else if(group == "true"){
      $(".clickAddcard").css("pointer-events", "none") // disable edit addcard for non host and scribe
      $(".undo-attendance").css("display", "none") // remove undo attendance for non host and scribe
    } else if (group == "false"){
      $(".hs").hide();
      $(".board-con").addClass("py-3")
    }

    //edit description
    $(".desc-form").css("display", "none")
    
    $(".edit-desc").click(function(){
      $(".desc-area").hide();
      $(".desc-form").show();
      $(".edit-desc").hide();
    });

    $(".cancel-desc").click(function(){
      $(".desc-form").hide();
      $(".desc-area").show();
      $(".edit-desc").show();
    });

    // Edit todo
    $(".edit-todo").each( function(index,todo) {
      $(todo).click(function(){
        var todo_task = $(this).parent(".todo-action").siblings(".task-section").children(".task-text").text()
        var url = window.location.href;
        var newurl = new URL(url);
        var urlParams = newurl.pathname;
        var update_params = urlParams.replace("/addcards/view","/updatetodo")
        var todo_id = $(this).attr("id")
        $("#input-todo").val(todo_task)
        $("#todo-id").val(todo_id)
        $("#todo-form").attr("action",update_params)
        $("#todo-form").attr("method","patch")
      });
    });  
    // Check todo  
    $(".check-boxes").each( function(index,checkbox) {
      $(checkbox).click(function(){
        var checkbox_id = $(this).attr("class").split(' ')[1]
        if (checkbox.checked) {
          $("#checkbox-done").val(true)
        }else{
          $("#checkbox-done").val(false)
        }
        $("#checkbox-id").val(checkbox_id)
        $("#checkbox-submit").trigger("click")
      });
    });   
    // Edit identify
    $(".edit-identify").each( function(index,identify) {
      $(identify).click(function(){
        var identify_task = $(this).parent(".identify-action").siblings(".task-section").children(".solution-text").text()
        var url = window.location.href;
        var newurl = new URL(url);
        var urlParams = newurl.pathname;
        var update_params = urlParams.replace("/addcards/view","/updateidentify")
        var identify_id = $(this).attr("id")
        $("#input-identify").val(identify_task)
        $("#identify-id").val(identify_id)
        $("#identify-form").attr("action",update_params)
        $("#identify-form").attr("method","patch")
      });
    }); 
    // Check identify 
    $(".identify-check-boxes").each( function(index,checkbox) {
      $(checkbox).click(function(){
        var checkbox_id = $(this).attr("class").split(' ')[1]
        if (checkbox.checked) {
          $("#identify-checkbox-done").val(true)
        }else{
          $("#identify-checkbox-done").val(false)
        }
        $("#identify-checkbox-id").val(checkbox_id)
        $("#identify-checkbox-submit").trigger("click")
      });
    });   
    // hide solution
    $(".hide-solution").each( function(index,hide) {
      $(hide).click(function(){
        $(this).closest("#solution-textarea").attr("class","d-none")
      })
    })
    // toggle solution
    $(".solution-text").each( function(index,text) {
      $(text).click(function(){
        $(this).closest(".ids-list").next("#solution-textarea").toggleClass("d-none");
      })
    })

    // Page Scroll
    $(".addcards_X").click(function(){
      let scroll = $(".page-scroll").text()
      let href = $(this).attr("href") + `?page_scroll=${scroll}`
      $(this).attr("href", href);
    });
    
  });

</script>           