<div class="pt-3 board-con">
  <div class="new_card mx-auto mt-5">
    <h3 class="card-heading">
      <%= params[:card_title] %>
    </h3>
    <%= form_with scope: :addcard, url:create_addcard_path, method: :post, local: true do |form| %>
      <div class="pb-1">
        <%= form.label :card_name, style: "display: block" %>
        <%= form.text_field :card_name, required: true %>
      </div>

      <div>
        <%= form.submit "Add card" , class:"btn btn-primary" %>
        <%= link_to "X" ,view_cards_path(params[:cb_id]), class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>