<div class="pt-3 board-con">
  <div class="edit-board-con mx-auto mt-5">
    <h3 class="card-heading">Editing Board</h3>
    <%= form_with scope: :create_board, url:update_board_path(params[:id]), method: :patch, local: true do |form| %>
      <div class="pb-1">
        <%= form.label :board_title, style: "display: block" %>
        <%= form.text_field :board_title,required: true,value:@create_board.board_title, class:"input_border" %>
      </div>
      <div class="pb-1">
        <%= form.label :board_desc, style: "display: block" %>
        <%= form.text_field :board_desc,value:@create_board.board_desc, class:"input_border" %>
      </div>

      <div>
        <%= form.submit "Edit board" , class:"btn btn-primary" %>
        <%= link_to "X" , dashboard_path, class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

