<div class="pt-3 board-con">
  <div class="new_card mx-auto mt-5">
    <h3 class="card-heading">Create Board</h3>
      <%= form_with scope: :create_board, url:create_boards_path, method: :post, local: true do |form| %>
        <div class="pb-1">
          <%= form.label 'Board title*', style: "display: block" %>
          <%= form.text_field :board_title, required: true %>
        </div>
        <div class="pb-1">
          <%= form.label 'Board descrition(optional)', style: "display: block" %>
          <%= form.text_field :board_desc %>
        </div>

        <div>
          <%= form.submit "Create board" , class:"btn btn-primary" %>

          <% if params[:board_id] %>
            <%= link_to "X" , view_cards_path(params[:board_id]), class:"btn btn-primary" %>
          <% else %>
            <%= link_to "X" , dashboard_path, class:"btn btn-primary" %>
          <% end %>
        </div>
      <% end %>
  </div>
</div>






