<div class="mx-2 mb-2 ">
  <div class="d-none" id="owner-param"><%= params[:rocks_owner] %></div>

  <div class="text-center text-decoration-underline" style="font-size: 24px; font-weight: bolder;">
    <%= image_tag ("banner.png") %> <%= ProjectWorkspace.find(params[:pw_id]).folder_name %><%= image_tag ("banner.png") %>
  </div>

  <div>
    <%= link_to "Your Rocks", view_projects_path({rocks_owner: current_user.id}), class: "#{'rocks-nav-active bg-primary text-white' if request.original_url.include?('yourprojects')} p-1 rocks-link-custom" %>

    <% if current_user.email == "jpbocatija@cem-inc.org.ph" %>
      <%= link_to "All Rocks",view_allprojects_path({rocks_owner:"all_rocks"}), class:" #{'rocks-nav-active bg-primary text-white' if request.original_url.include? "allprojects"} p-1 rocks-link-custom" %>
    <% elsif current_user.admin == true %>
      <%= link_to "All Rocks",view_allprojects_path({rocks_owner:"all_rocks"}), class:" #{'rocks-nav-active bg-primary text-white' if request.original_url.include? "allprojects"} p-1 rocks-link-custom" %>
    <% elsif current_user.first_name == @scribe %>
      <%= link_to "All Rocks",view_allprojects_path({rocks_owner:"all_rocks"}), class:" #{'rocks-nav-active bg-primary text-white' if request.original_url.include? "allprojects"} p-1 rocks-link-custom" %>
    <% end %>

    <%= link_to "Archived",view_archived_path({rocks_owner:current_user.id}), class:" #{'rocks-nav-active bg-primary text-white' if request.original_url.include? "archived"} p-1 rocks-link-custom"  %>

    <button id="addDataBtn" class="btn btn-outline-secondary mx-3">Export to Excel</button>
  </div>

  <!-- Select Rock Owner -->
  <% if !request.original_url.include? "archived" %>
    <div class="mt-2">
      <%= form_tag do %>
        <%= select_tag 'selected_option', options_for_select(@pw_emails), id:"page_select", role:"button" %>
      <% end %>
    </div>
  <% end %>


</div>

<script>
  $(document).ready(function(){
 
    var owner_param = $("#owner-param").text().replace('.1','')
    $("#page_select").val(owner_param)

    $('#page_select').on('change', function() {
      const selectedValue = $(this).val();
      if (selectedValue) {
        window.location.href = selectedValue;
      }
    });
  });

</script>