<%= render 'projects/projects_navbar' %>
<div class="px-2" style="height: 90vh;width: 100vw; overflow:scroll;">
  <h4>Rocks Workspace</h4>
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col"><u>#</u></th>
        <th scope="col">Workspace Name</th>
        <th scope="col">Work Group</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @project_workspaces.each_with_index do |folder,index| %>
      <tr role="button" class="all-workspace">
        <td style="display: none;" id="workspace-id"><%= folder.id %></td>
        <th scope="row" style="width:50px;" class="table-td1"><%= index + 1%></th>
        <td class="folder-name table-td2"><%= link_to folder.folder_name, view_projects_path(folder.id,{rocks_owner:current_user.id}),class:"btn btn-outline-info" %></td>
        <td class="assigned d-none"><%= folder.assigned %></td>
        <td class="table-td3">
          <% folder.assigned.each do |email| %>
            <% if !User.find_by(email:email).profilepics.blank? %>
              <span><%= image_tag User.find_by(email:email).profilepics.last.pic, class:"assigned-pics", title:email %></span>
            <% else %>
              <span><%= image_tag ("profile-pic.png"), class:"assigned-pics", title:email %></span>
            <% end %>
          <% end %>
        </td>
        <td class="table-td4">
          <% if folder.user == current_user %>
            <%= link_to delete_workspace_path(folder.id),data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
              <%= image_tag ("delete.png"), class:"project-icon mb-1"%>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
      <!-- Create and Update Workspace -->
      <tr class="workspace-form">
        <td colspan="4"> 
          <%= form_with url: create_workspace_path, method: :post, local: true do |f| %>
            <table style="width: 100%;"> 
              <tr>
                <td class="create-form-td1"></td>
                <td class="create-form-td2">
                  <%= f.text_field :folder_name, required: true, class: "px-2" %>
                </td>
                <td class="create-form-td3">
                  <%= f.select(:assigned, @users, { prompt: "Please select" }, { multiple: true, size: 5 }) %>
                </td>
                <td class="create-form-td4">
                  <span><%= f.submit "Save", class: "btn btn-success mt-1" %></span>
                  <span class="x-create mx-2 btn btn-danger mt-1">Cancel</span>
                </td>
              </tr>
            </table>
          <% end %>
        </td>
      </tr>
      <tr class="update-workspace">
        <td colspan="4"> 
          <%= form_with url:update_workspace_path, method: :patch, local: true do |f| %>
            <table style="width: 100%;"> 
              <tr>
                <td style="display: none;"><%= f.number_field :id, required:true,id:"workspace-id" %></td>
                <td class="update-form-td1"></td>
                <td class="update-form-td2"><%= f.text_field :folder_name, required:true, class:"px-2" %></td>
                <td class="update-form-td3"><%= f.select(:assigned,@users,{prompt:"Please select"},{multiple:true, size:5}) %></td>
                <td class="update-form-td4">
                  <span><%= f.submit "Update" ,class:"btn btn-success mt-1" %></span>
                  <span class="x-update mx-2 btn btn-danger mt-1">Cancel</span>
                </td>
              </tr>
            </table>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <div id="current-user-email" class="d-none"><%= current_user.email %></div> -->
  

  <div role="button" class="new-workspace mx-4 mb-3 new-project">
    Create new workspace here !
  </div>
</div>
<script>
  $(document).ready(function(){
   // Create New Workspace
   $(".workspace-form").css("display", "none")

    $(".new-workspace").click(function(){
      // var user_email = $("#current-user-email").text()
      // $(".new-rock").find("#assigned").val(user_email)
      $(".workspace-form").show();
      $(this).hide();
    });
    $(".x-create").click(function(){
      $(".workspace-form").hide();
      $(".new-workspace").show();
    });
    // Update Workspace
    $(".update-workspace").css("display", "none")
    $(".all-workspace").each( function(index,value) {
      $(value).dblclick(function(){
        $(".all-workspace").show();
        // rock variables
        var folder_name =  $(this).children(".folder-name").text()
        var assigned =  $(this).children(".assigned").text()
        var workspace_id =  $(this).children("#workspace-id").text()
        // rock values
        $(".update-workspace").find("#folder_name").val(folder_name)
        $(".update-workspace").find("#assigned").val(JSON.parse(assigned))
        $(".update-workspace").find("#workspace-id").val(workspace_id)

        $(this).hide()
        $(".update-workspace").insertAfter($(this))
        $(".update-workspace").show();
      });
    });

    $(".x-update").click(function(){
      $(".update-workspace").hide();
      $(".all-workspace").show();
    });

    // Adjusting table td width
    // --create section
    $('.create-form-td1').outerWidth($('.table-td1').outerWidth());
    $('.create-form-td2').outerWidth($('.table-td2').outerWidth());
    $('.create-form-td3').outerWidth($('.table-td3').outerWidth());
    $('.create-form-td4').outerWidth($('.table-td4').outerWidth());
    // --update section
    $('.update-form-td1').outerWidth($('.table-td1').outerWidth());
    $('.update-form-td2').outerWidth($('.table-td2').outerWidth());
    $('.update-form-td3').outerWidth($('.table-td3').outerWidth());
    $('.update-form-td4').outerWidth($('.table-td4').outerWidth());
  });

</script>