<div class="fullscreen-overlay">
  <div class="scribe-m-container-outer">
    <div class="d-flex justify-content-between align-items-center">
      <div id="controls" class="btn btn-light d-flex p-2">
          <button id="timer" class="btn btn-info">00:00:00</button>
          <div>
            <div><button id="start" class="btn btn-success p-1">Start</button></div>
            <div><button id="pause" class="btn btn-danger p-1 my-1">Pause</button></div>
            <div><button id="reset" class="btn btn-warning p-1">Reset</button></div>
          </div>
      </div>
      <div class="btn btn-danger" id="end-scribe">END</div>
    </div>
    <div class="scribe-m-container d-flex justify-content-between align-items-center">
      <!-- Left arrow -->
      <% if params[:scribe_section_view] == "attendance" %>
        <div><%= link_to image_tag("left_arrow.png",class:"left-arrow", style:"width:100px; margin-right:20px;"),view_cards_path(scribe_section_view:"attendance"), method: :get %></div>
      <% elsif params[:scribe_section_view] == "segue" %>
        <div><%= link_to image_tag("left_arrow.png",class:"left-arrow", style:"width:100px; margin-right:20px;"),view_cards_path(scribe_section_view:"attendance"), method: :get %></div>
      <% elsif params[:scribe_section_view] == "rocks" %>
        <div><%= link_to image_tag("left_arrow.png",class:"left-arrow", style:"width:100px; margin-right:20px;"),view_cards_path(scribe_section_view:"segue"), method: :get %></div>
      <% elsif params[:scribe_section_view] == "headline" %>
        <div><%= link_to image_tag("left_arrow.png",class:"left-arrow", style:"width:100px; margin-right:20px;"),view_cards_path(scribe_section_view:"rocks"), method: :get %></div>
      <% elsif params[:scribe_section_view] == "todo" %>
        <div><%= link_to image_tag("left_arrow.png",class:"left-arrow", style:"width:100px; margin-right:20px;"),view_cards_path(scribe_section_view:"headline"), method: :get %></div>
      <% elsif params[:scribe_section_view] == "ids" %>
        <div><%= link_to image_tag("left_arrow.png",class:"left-arrow", style:"width:100px; margin-right:20px;"),view_cards_path(scribe_section_view:"todo"), method: :get %></div>
      <% elsif params[:scribe_section_view] == "conclusion" %>
        <div><%= link_to image_tag("left_arrow.png",class:"left-arrow", style:"width:100px; margin-right:20px;"),view_cards_path(scribe_section_view:"ids"), method: :get %></div>
      <% else %>
        <div><%= link_to image_tag("left_arrow.png",class:"left-arrow", style:"width:100px; margin-right:20px;"),view_cards_path, method: :get %></div>
      <% end %>
      <!-- Scribe Section Contents -->
      <div class="scribe-m-container-box"> 
        <div><i><%= Date.current.strftime("%B %d, %Y (%A)") %></i></div>
        <!-- Segue -->
        <% if params[:scribe_section_view] == "segue" %>
          <div class="d-flex justify-content-center">
            <div class="mt-5" style="max-width: 70%;min-width: 50%;">
              <div class="h3 fw-bolder text-center text-decoration-underline mb-3">Intro/Segue</div>
              <div class="rounded-2 bg-light py-3 px-5">
                <div><%= raw(@segue_view.gsub('<br/>', '<br/><br/>'))%></div>
              </div>
            </div>
          </div>
        <!-- Rocks -->
        <% elsif params[:scribe_section_view] == "rocks" %>
          <div class="px-5 mt-2">
            <div class="h3 fw-bolder text-center text-decoration-underline mb-1">Rocks</div>
          </div>
          <div class="d-flex">
            <% ProjectWorkspace.order("created_at asc").all.each do |workspace| %>
              <div class="btn btn-outline-info rocks-navbar" style="margin-left: 10px;"><%= workspace.folder_name %></div> 
            <% end %>
          </div>
          <% ProjectWorkspace.order("created_at asc").all.each_with_index do |workspace,rock_index| %>
            <div style="margin-bottom: 5rem; width: 100%;" class="d-none rocks-content-<%= rock_index %> rock-content w3-animate-top">
              <!-- Head -->
              <h5><b>* Head *</b></h5>
              <hr style="margin: 2px 0;">
              <% @workspace_head.each do |email| %>
                <% if email == "lvcagadas@cem-inc.org.ph" %>
                  <div><b><%= User.find_by(email:email).first_name %></b></div>
                  <% ProjectWorkspace.find(workspace.id).rocks.order(finish: :asc).where(user_id:User.find_by(email:email).id).where(archived:false).each_with_index do |rock, index| %>
                    <div class="d-flex">
                      <div style="width: 50%;">
                        <span><%= index + 1 %>. </span>
                        <% if current_user.admin == true || current_user.first_name == @scribe || current_user.email == "jpbocatija@cem-inc.org.ph" %>
                          <span><%= link_to rock.task_name, view_allprojects_path(workspace.id,User.find_by(email:email).id,{rock_id:rock.id}),target:"_blank",class:"rock-link" %></span>
                        <% else %>
                          <span><%= rock.task_name %></span>
                        <% end %>
                      </div>
                      <div style="width: 50%;">
                        <span style="font-size: 12px;">| <i><%= rock.start.strftime("%b %d,%Y") %> - <%= rock.finish.strftime("%b %d,%Y") %></i></span>
                        <span style="font-size: 12px; font-weight: bold;"> |
                        <%= (rock.start.to_date..rock.finish.to_date).count do |date|
                          date.workday?
                        end %> <span>days</span>
                        </span>
                        <span>| <b style="color: goldenrod;"><%= rock.complete %>%</b></span>
                        <span style="font-size: 12px;">| 
                          <% if rock.complete == 0 %>
                            <span style="background-color: silver; padding:0 5px; border-radius:3px;">not started</span>
                          <% elsif rock.complete == 100 %>
                            <span style="background-color: green;padding:0 5px; border-radius:3px;">complete</span>
                          <% else %>
                            <span style="background-color: yellow;padding:0 5px; border-radius:3px;">in progress</span>
                          <% end %>
                          <% if rock.complete != 100 %>
                            <% if rock.finish >= Date.today %>
                              <span style="vertical-align: middle;" role="button" title="on track" class="track"><%= image_tag ("blue_circle.png"),style:"width: 15px; margin-bottom:5px"%></span>  
                            <% else %>
                              <span role="button" title="off track" class="track"><%= image_tag ("red_circle.png"),style:"width: 16px;margin-bottom:5px"%></span>  
                            <% end %>                            
                          <% else %>                            
                          <% end %>                            
                        </span>
                      </div>
                    </div>
                  <% end %>
                  <% if ProjectWorkspace.find(workspace.id).rocks.where(user_id:User.find_by(email:email).id).empty? %>
                    <div> - - </div>
                  <% end %>                  
                <% end %>
              <% end %>
              <hr style="margin: 2px 0;">
              <!-- ISU Team -->
              <h5 class="mt-4"><b>* ISU *</b></h5>
              <hr style="margin: 2px 0;">
              <% @workspace_isu.each do |email| %>
                <% if ["jpbocatija@cem-inc.org.ph","rmina@cem-inc.org.ph","rcjamilano@cem-inc.org.ph"].include?(email) %>
                  <div><b><%= User.find_by(email:email).first_name %></b></div>
                  <% ProjectWorkspace.find(workspace.id).rocks.order(finish: :asc).where(user_id:User.find_by(email:email).id).where(archived:false).each_with_index do |rock, index| %>
                    <div class="d-flex">
                      <div style="width: 50%;">
                        <span><%= index + 1 %>. </span>
                        <% if current_user.admin == true || current_user.host == true || current_user.email == "jpbocatija@cem-inc.org.ph" %>
                          <span><%= link_to rock.task_name, view_allprojects_path(workspace.id,User.find_by(email:email).id,{rock_id:rock.id}),target:"_blank",class:"rock-link" %></span>
                        <% else %>
                          <span><%= rock.task_name %></span>
                        <% end %>                        
                      </div>
                      <div style="width: 50%;">
                        <span style="font-size: 12px;">| <i><%= rock.start.strftime("%b %d,%Y") %> - <%= rock.finish.strftime("%b %d,%Y") %></i></span>
                        <span style="font-size: 12px; font-weight: bold;"> |
                        <%= (rock.start.to_date..rock.finish.to_date).count do |date|
                          date.workday?
                        end %> <span>days</span>
                        </span>
                        <span>| <b style="color: goldenrod;"><%= rock.complete %>%</b></span>
                        <span style="font-size: 12px;">| 
                          <% if rock.complete == 0 %>
                            <span style="background-color: silver;padding:0 5px; border-radius:3px;">not started</span>
                          <% elsif rock.complete == 100 %>
                            <span style="background-color: green;padding:0 5px; border-radius:3px;">complete</span>
                          <% else %>
                            <span style="background-color: yellow;padding:0 5px; border-radius:3px;">in progress</span>
                          <% end %>
                          <% if rock.complete != 100 %>
                            <% if rock.finish >= Date.today %>
                              <span style="vertical-align: middle;" role="button" title="on track" class="track"><%= image_tag ("blue_circle.png"),style:"width: 15px; margin-bottom:5px"%></span>  
                            <% else %>
                              <span role="button" title="off track" class="track"><%= image_tag ("red_circle.png"),style:"width: 16px;margin-bottom:5px"%></span>  
                            <% end %>                            
                          <% else %>                            
                          <% end %>                          
                        </span>
                      </div>
                    </div>                    
                  <% end %>
                  <% if ProjectWorkspace.find(workspace.id).rocks.where(user_id:User.find_by(email:email).id).empty? %>
                    <div> - - </div>
                  <% end %>
                <% end %>
              <% end %>
              <hr style="margin: 2px 0;">
              <!-- NSSU Team -->
              <h5 class="mt-4"><b>* NSSU *</b></h5>
              <hr style="margin: 2px 0;">
              <% @workspace_nssu.each do |email| %>
                <% if ["gsibayan@cem-inc.org.ph","fviceral@cem-inc.org.ph","jcaniedo@cem-inc.org.ph"].include?(email) %>
                  <div><b><%= User.find_by(email:email).first_name %></b></div>
                  <% ProjectWorkspace.find(workspace.id).rocks.order(finish: :asc).where(user_id:User.find_by(email:email).id).where(archived:false).each_with_index do |rock, index| %>
                    <div class="d-flex">
                      <div style="width: 50%;">
                        <span><%= index + 1 %>. </span>
                        <% if current_user.admin == true || current_user.host == true || current_user.email == "jpbocatija@cem-inc.org.ph" %>
                          <span><%= link_to rock.task_name, view_allprojects_path(workspace.id,User.find_by(email:email).id,{rock_id:rock.id}),target:"_blank",class:"rock-link" %></span>
                        <% else %>
                          <span><%= rock.task_name %></span>
                        <% end %>
                      </div>
                      <div style="width: 50%;">
                        <span style="font-size: 12px;">| <i><%= rock.start.strftime("%b %d,%Y") %> - <%= rock.finish.strftime("%b %d,%Y") %></i></span>
                        <span style="font-size: 12px; font-weight: bold;"> |
                        <%= (rock.start.to_date..rock.finish.to_date).count do |date|
                          date.workday?
                        end %> <span>days</span>
                        </span>
                        <span>| <b style="color: goldenrod;"><%= rock.complete %>%</b></span>
                        <span style="font-size: 12px;">| 
                          <% if rock.complete == 0 %>
                            <span style="background-color: silver;padding:0 5px; border-radius:3px;">not started</span>
                          <% elsif rock.complete == 100 %>
                            <span style="background-color: green;padding:0 5px; border-radius:3px;">complete</span>
                          <% else %>
                            <span style="background-color: yellow;padding:0 5px; border-radius:3px;">in progress</span>
                          <% end %>
                          <% if rock.complete != 100 %>
                            <% if rock.finish >= Date.today %>
                              <span style="vertical-align: middle;" role="button" title="on track" class="track"><%= image_tag ("blue_circle.png"),style:"width: 15px; margin-bottom:5px"%></span>  
                            <% else %>
                              <span role="button" title="off track" class="track"><%= image_tag ("red_circle.png"),style:"width: 16px;margin-bottom:5px"%></span>  
                            <% end %>                            
                          <% else %>                            
                          <% end %>                            
                        </span>
                      </div>
                    </div>                    
                  <% end %>
                  <% if ProjectWorkspace.find(workspace.id).rocks.where(user_id:User.find_by(email:email).id).where(archived:false).empty? %>
                    <div> - - </div>
                  <% end %>
                <% end %>
              <% end %>  
              <hr style="margin: 2px 0;"> 
              <!-- Other Members -->
              <% ProjectWorkspace.find(workspace.id).assigned.each do |email| %>
                <% if !["gsibayan@cem-inc.org.ph","fviceral@cem-inc.org.ph","jpbocatija@cem-inc.org.ph","rmina@cem-inc.org.ph","rcjamilano@cem-inc.org.ph","lvcagadas@cem-inc.org.ph","jcaniedo@cem-inc.org.ph"].include?(email) %>
                  <div><b><%= User.find_by(email:email).first_name %></b></div>
                  <% ProjectWorkspace.find(workspace.id).rocks.order(finish: :asc).where(user_id:User.find_by(email:email).id).where(archived:false).each_with_index do |rock, index| %>
                    <div class="d-flex">
                      <div style="width: 50%;">
                        <span><%= index + 1 %>. </span>
                        <% if current_user.admin == true || current_user.host == true || current_user.email == "jpbocatija@cem-inc.org.ph" %>
                          <span><%= link_to rock.task_name, view_allprojects_path(workspace.id,User.find_by(email:email).id,{rock_id:rock.id}),target:"_blank",class:"rock-link" %></span>
                        <% else %>
                          <span><%= rock.task_name %></span>
                        <% end %>                        
                      </div>
                      <div style="width: 50%;">
                        <span style="font-size: 12px;">| <i><%= rock.start.strftime("%b %d,%Y") %> - <%= rock.finish.strftime("%b %d,%Y") %></i></span>
                        <span style="font-size: 12px; font-weight: bold;"> |
                        <%= (rock.start.to_date..rock.finish.to_date).count do |date|
                          date.workday?
                        end %> <span>days</span>
                        </span>
                        <span>| <b style="color: goldenrod;"><%= rock.complete %>%</b></span>
                        <span style="font-size: 12px;">| 
                          <% if rock.complete == 0 %>
                            <span style="background-color: silver;padding:0 5px; border-radius:3px;">not started</span>
                          <% elsif rock.complete == 100 %>
                            <span style="background-color: green;padding:0 5px; border-radius:3px;">complete</span>
                          <% else %>
                            <span style="background-color: yellow;padding:0 5px; border-radius:3px;">in progress</span>
                          <% end %>
                          <% if rock.complete != 100 %>
                            <% if rock.finish >= Date.today %>
                              <span style="vertical-align: middle;" role="button" title="on track" class="track"><%= image_tag ("blue_circle.png"),style:"width: 15px; margin-bottom:5px"%></span>  
                            <% else %>
                              <span role="button" title="off track" class="track"><%= image_tag ("red_circle.png"),style:"width: 16px;margin-bottom:5px"%></span>  
                            <% end %>                            
                          <% else %>                            
                          <% end %>                           
                        </span>
                      </div>
                    </div>                    
                  <% end %>
                  <% if ProjectWorkspace.find(workspace.id).rocks.where(user_id:User.find_by(email:email).id).where(archived:false).empty? %>
                    <div> - - </div>
                  <% end %>
                <% end %>
              <% end %> 
            </div>          
          <% end %>
        <!-- Headlines -->
        <% elsif params[:scribe_section_view] == "headline"%>
          <div class="d-flex justify-content-center">
            <div class="mt-2" style="max-width: 70%;min-width: 50%;">
              <div class="h3 fw-bolder text-center text-decoration-underline mb-3">People Headlines</div>
              <div class="rounded-2 bg-light py-3 px-5">
                <div><%= raw(@headlines_view.gsub('<br/>', '<br/><br/>'))%></div>
              </div>
            </div>
          </div>
        <!-- Todo -->
        <% elsif params[:scribe_section_view] == "todo"%>
          <div class="px-5 mt-2">
            <div class="h3 fw-bolder text-center text-decoration-underline mb-3">Todo's</div>
            <div class="rounded-2 bg-light p-3">
              <% User.all.each do |user| %>
                <p class="m-0"><b>- <%= user.first_name %></b></p>
                <% @todo_list.each do |list| %>
                  <% if user.id == list.user_id  %>
                    <div class="d-flex justify-content-between align-items-center task-date">
                      <div class="task-section d-flex justify-content-between w-100">
                        <div class="d-flex align-items-start">
                          <input disabled type="checkbox" id="myCheckbox<%= list.id %>" class="check-boxes <%= list.id %> mx-2" style="margin-top:6px;" role="button" <%= list.done ? 'checked':'' %>>
                          <label class="<%= list.done ? 'text-decoration-line-through' : '' %> task-text" role="button"><%= list.task %></label> 
                        </div>
                        <div style="font-size:10px;" class="d-flex align-items-center">
                          <span style="width:120px;">start:<b><%= list.created_at.strftime("%m/%d") %></b> - finish:<b><%= list.done_date == nil ? "" : list.done_date.strftime("%m/%d") %></b></span>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <div class="my-4"></div>
              <% end %>
            </div>
          </div>
        <!-- IDS -->
        <% elsif params[:scribe_section_view] == "ids"%>
          <div class="px-5">
            <div class="h3 fw-bolder text-center text-decoration-underline mb-3">IDS</div>
            <div class="rounded-2 bg-light p-3">
              <% User.all.each do |user| %>
                <p class="m-0"><b>- <%= user.first_name %></b></p>
                <% @ids_list.each do |list| %>
                  <% if user.id == list.user_id  %>
                    <div class="d-flex justify-content-between ids-list">
                      <div class="task-section d-flex justify-content-between w-100">
                        <div class="d-flex align-items-start">
                          <input type="checkbox" class="identify-check-boxes <%= list.id %> mx-2" style="margin-top:6px;" role="button" <%= current_user.id == list.user_id ? '':'disabled' %> <%= list.done ? 'checked':'' %>>
                          <label class="<%= list.done ? 'text-decoration-line-through' : '' %> solution-text" role="button"><%= list.task %></label> 
                        </div>
                        <div style="font-size:10px;" class="d-flex align-items-center">
                          <span style="width:120px;">start:<b><%= list.created_at.strftime("%m/%d") %></b> - finish:<b><%= list.done_date == nil ? "" : list.done_date.strftime("%m/%d") %></b></span>
                        </div>
                      </div>
                    </div>
                    <div id="solution-textarea" class="d-none">
                      <%= form_with scope: :identify, url:update_identify_path({card_id:@ids_card_id, id:@ids_addcard_id,from:"scribe_view"}), method: :patch, local:true do |form| %>
                        <%= form.hidden_field :identify_id, value:list.id %>
                        <div class="d-flex">
                          <div class="pb-1">
                            <%= form.text_area :solution,value:list.solution, size: "75x3", style:"padding:5px 10px; background-color:#FFFFE0;"%>
                          </div>
                          <div class="mx-2">
                            <div><%= form.submit "Save" , class:"save-desc" %></div>
                            <div class="btn btn-danger mt-2 hide-solution">hide</div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
                <div class="my-4"></div>
              <% end %>
            </div>
          </div>
        <!-- Conclusion -->
        <% elsif params[:scribe_section_view] == "conclusion"%>
          <div class="px-5">
            <div class="h3 fw-bolder text-center text-decoration-underline mb-3">Conclusion</div>
            <div class="rounded-2 bg-light p-3">
              <%= form_with scope: :addcard, url:update_conclusion_path(card_id:@conclusion_card_id,id:@conclusion_addcard_id,from:"scribe_view"), method: :patch, local:true do |form| %>
                <%= form.hidden_field :conclusion_lists, value: @conclusion_lists %>
                <div style="border:1px solid black; width:80%; padding:1rem; padding-left:3.5rem" class="m-auto">
                  <% @conclusion_lists.each do |user| %>
                    <div class="mb-2 d-flex">
                      <div style="width:80px"><b><%= user %>:</b></div>
                      <div>
                        <%= form.text_field user + " 0",style:"text-align:center", size: "10x10" %>
                        <%= form.text_field user + " 1",style:"text-align:center", size: "10x10" %>
                        <%= form.text_field user + " 2",style:"text-align:center", size: "10x10" %> =
                        <%= form.number_field user + " 3", style:"width: 50px", min:1, max:10 %>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div style="margin-left: 6rem; margin-top:10px">
                  <%= form.submit "Save" , class:"save-desc" %>
                  <span class="cancel-desc">Cancel</span>
                </div>
              <% end %>
            </div>
          </div>
        <!-- Attendance -->
        <% else %>
        <div class="d-flex justify-content-center">
          <div class="mt-5 w-50 text-center">
            <div class="h3 fw-bolder text-decoration-underline mb-3">Attendance</div>
            <div class="rounded-2 bg-light py-4">
              <div><%= raw(@attendance_view.gsub('<br/>', '<br/><br/>'))%></div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <!-- Right arrow -->
      <% if params[:scribe_section_view] == "attendance" %>
        <div><%= link_to image_tag("right_arrow.png",class:"right-arrow", style:"width:100px; margin-left:20px;"),view_cards_path(scribe_section_view:"segue"), method: :get %></div>
      <% elsif params[:scribe_section_view] == "segue" %>
        <div><%= link_to image_tag("right_arrow.png",class:"right-arrow", style:"width:100px; margin-left:20px;"),view_cards_path(scribe_section_view:"rocks"), method: :get %></div>
      <% elsif params[:scribe_section_view] == "rocks" %>
        <div><%= link_to image_tag("right_arrow.png",class:"right-arrow", style:"width:100px; margin-left:20px;"),view_cards_path(scribe_section_view:"headline"), method: :get %></div>
      <% elsif params[:scribe_section_view] == "headline" %>
        <div><%= link_to image_tag("right_arrow.png",class:"right-arrow", style:"width:100px; margin-left:20px;"),view_cards_path(scribe_section_view:"todo"), method: :get %></div>
      <% elsif params[:scribe_section_view] == "todo" %>
        <div><%= link_to image_tag("right_arrow.png",class:"right-arrow", style:"width:100px; margin-left:20px;"),view_cards_path(scribe_section_view:"ids"), method: :get %></div>
      <% elsif params[:scribe_section_view] == "ids" %>
        <div><%= link_to image_tag("right_arrow.png",class:"right-arrow", style:"width:100px; margin-left:20px;"),view_cards_path(scribe_section_view:"conclusion"), method: :get %></div>
      <% elsif params[:scribe_section_view] == "conclusion" %>
        <div><%= link_to image_tag("right_arrow.png",class:"right-arrow", style:"width:100px; margin-left:20px;"),view_cards_path(scribe_section_view:"conclusion"), method: :get %></div>
      <% else %>
        <div><%= link_to image_tag("right_arrow.png",class:"right-arrow", style:"width:100px; margin-left:20px;"),view_cards_path(scribe_section_view:"segue"), method: :get %></div>
      <% end %>

    </div>
  </div>
</div>



<!-- scribe_sections = [attendance,segue,rocks,headline,todo,ids,conclusion] -->
