<div class="pt-3 board-con">
  <div id="cards" class="card_container">
    <% @cards.each do |card| %>
      <div class="card_bg">
        <div class="d-flex justify-content-between">
          <p class="card_title">
            <b><%=link_to card.card_title,edit_card_path(params[:cb_id],card.id ), class:"section-name" %></b>
          </p>
          <div class="pencil-con">
            <span class="fa fa-pencil"></span>
          </div>
        </div>

        <div class="d-flex flex-column">
          <% @addcards.each do |addcard| %>
            <% if card.id==addcard.card_id %>
              <div class="addcard-con">
                <%= link_to addcard.card_name, view_addcards_path(params[:cb_id],card.id, addcard.id), class:"addcard-name" %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="addcard-bg mt-3">
          <%= link_to "+ Add a card" , newcard_path(params[:cb_id],card.id),class:"addcard"%>
        </div>
      </div>
    <% end %>
  <div class="clickAddList add_list_btn">+ Add another list</div>
    <div class="toggleCard">
      <%= form_with scope: :card, url:create_card_path(params[:cb_id],), method: :post, local: true do |form| %>
        <div class="pb-1">
          <%= form.text_field :card_title,required: true,type:"text",placeholder: "Enter list title..." , class:"input_border" %>
        </div>
        <div>
          <%= form.submit "Add list" , class:"btn btn-primary" %>
          <div class="clickX btn btn-primary">X</div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  var clickAddList = document.querySelector(".clickAddList")
  var toggleCard = document.querySelector(".toggleCard")
  var clickX = document.querySelector(".clickX")

  clickAddList.addEventListener("click",function(e){
  clickAddList.style.display ="none";
  toggleCard.style.display = "block";
  })

  clickX.addEventListener("click",function(e){
  toggleCard.style.display = "none";
  clickAddList.style.display = "block";
  })
</script>



