<div class="pt-3 board-con">
  <!-- Edit Card -->
  <div id="cards" class="card_container">
    <% @cards.each do |card| %>
      <div class="card_bg">
        <div class="card-con">
          <b class="card_title">
            <%= card.card_title %>
          </b>
          <%= link_to delete_card_path({card_id:card.id}),data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
            <div class="addcard-pencon">
              <div class="addcard-penbox"></div>
              <div class="addcard-pencil"><%= image_tag ("delete.png"),class:"addcard-pen" %></div>
            </div>
          <% end %>
        </div>
        <div class="toggleCard">
          <%= form_with scope: :card, url:update_card_path({card_id:card.id}), method: :patch, local: true do |form| %>
            <span class="pb-1">
              <%= form.text_field :card_title,required: true, class:"input_border",id:"card-input" %>
            </span>
            <span class="cardX btn btn-primary">X</span>
          <% end %>
        </div>
        <!-- Addcard feature -->
        <div class="d-flex flex-column addcard-outercon">
          <% @addcards.each do |addcard| %>
            <% if card.id==addcard.card_id %>
              <div class="addcard-con">
                <%= link_to addcard.card_name, view_addcards_path(params[:cb_id],card.id, addcard.id), class:"addcard-name" %>
                <%= link_to delete_addcard_path(params[:cb_id],card.id,addcard.id),data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
                  <div class="addcard-pencon">
                    <div class="addcard-penbox"></div>
                    <div class="addcard-pencil"><%= image_tag ("delete.png"),class:"addcard-pen" %></div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="addcard-div mt-3">
          <div class="addcard">+ Add a card </div>
          <div class="mt-3 addcard-form">
            <%= form_with scope: :addcard, url:create_addcard_path(params[:cb_id],card.id), method: :post, local: true do |form| %>
              <div class="pb-1">
                <%= form.text_field :card_name, required: true,placeholder: "Enter a title for this card...",class:"form-con" %>
              </div>

              <div class="mt-2">
                <%= form.submit "Addcard" , class:"save-desc" %>
                <span class="cancel-desc">X</span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <!-- Addlist feature -->
    <div class="clickAddList add_list_btn">+ Add another list</div>
    <div class="toggleAddCard">
      <%= form_with scope: :card, url:create_card_path(params[:cb_id],), method: :post, local: true do |form| %>
        <div class="pb-1">
          <%= form.text_field :card_title,required: true,type:"text",placeholder: "Enter list title..." , class:"input_border" %>
        </div>
        <div>
          <%= form.submit "Add list" , class:"btn btn-primary" %>
          <div class="clickX btn btn-primary">X</div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  // Addlist feature
  $(document).ready(function(){
    $(".clickAddList").click(function(){
      $(this).hide();
      $(".toggleAddCard").show();
    });
  });
  $(document).ready(function(){
    $(".clickX").click(function(){
      $(".toggleAddCard").hide();
      $(".clickAddList").show();
    });
  });

  // Addcard feature
  $(".addcard-form").css("display", "none")
  $(document).ready(function(){
    $(".addcard").click(function(){
      $(".addcard").show();
      $(".addcard-form").hide();
      $(this).hide();
      $(this).siblings(".addcard-form").show();
    });
  });
  $(document).ready(function(){
    $(".cancel-desc").click(function(){
      $(".addcard-form").hide();
      $(".addcard").show();
    });
  });

  // Edit Card
  $(".toggleCard").css("display", "none")
  $(document).ready(function(){
    $(".card_title").click(function(){
      let input_value = $(this).text().replace(/\s/g, '');
      $(".card-con").show();
      $(".toggleCard").hide();
      $(this).parent(".card-con").hide();
      $(this).parent(".card-con").siblings(".toggleCard").show();
      $(this).parent(".card-con").siblings(".toggleCard").find("#card-input").val(input_value);
    });
  });
  $(document).ready(function(){
    $(".cardX").click(function(){
      $(".toggleCard").hide();
      $(this).parents(".toggleCard").siblings(".card-con").show();
    });
  });


</script>



