<div class="navbar d-flex ">
  <div class="mx-2 d-flex ">
    <div class="m-auto d-flex nav-element ">
      <div class="cem-logo"><%= image_tag ("cem-logo.png") %></div>
      <div class="m-auto"><%= link_to 'ITS L10 MEETING',dashboard_path, class:"cem-kanban" %></div>
    </div>
    <div class="create-relative">
      <div class="nav-element create-btn">Create</div>
        <!-- create board modal -->
      <div class="new-board">
        <%= form_with scope: :create_board, url:create_boards_path, method: :post, local: true do |form| %>
          <div class="pb-1">
            <%= form.label 'Board title*', style: "display: block" %>
            <%= form.text_field :board_title, required: true %>
          </div>
          <div class="pb-1">
            <%= form.label 'Board descrition(optional)', style: "display: block" %>
            <%= form.text_field :board_desc, required: true %>
          </div>
          <%= form.submit "Save", class:"btn btn-primary w-100 mt-1"%>
        <% end %>
      </div>
      
    </div>
  </div>
  <div class="d-flex align-items-center">
    <div>
      <input type="text" placeholder="&#xF002; Search" style="font-family: Roboto, 'Font Awesome 5 Free';" class="search-bar" />
    </div>
    <div class="mx-3 user-log">
      <span><%= current_user.email %></span>
      <span><%= button_to "Log Out", destroy_user_session_path, method: :delete, class:"btn btn-danger btn-sm logout" %></span>
    </div>  
  </div>
</div>

<script>
  $(".new-board").css("display", "none")

  $(document).ready(function(){
    $(".create-btn").click(function(){
      $(".new-board").toggle();
    });
  });
</script>